@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Kablammo&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width:100%;
    height: 100vh;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
    overflow-y: scroll;
    background-image: url("images/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
}
section{
    width: 100%;
    height: auto;
    scroll-snap-align: start;
}
section{
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    margin-top: 10%;
}
.about{
    background-color: rgb(0,0,0,.3);
    /* opacity: 30%; */
}
 .my_img{
    width:100%;
    height:30vh;
    background-image: url("images/vicky-photo.jpg");
    background-size: cover;
    border-radius: 100%;
    /* border: 2px solid gold; */
}
.matter{
    display: flex;
    padding:100px 30px;
}
.abt-me{
    padding-top: 50px;
    color: white;
    font-family: "Bona Nova SC", serif;
    font-size: 1.5rem;
    font-weight: lighter;
    padding-right: 30px;
    
}
.about h1{
    padding-top: 80px;
    padding-left: 30px;
    color:white;
    font-family: "poppins",sans-serif;
    font-size: 3rem;
}
.skills{
    background-color: rgb(0,0,0,.3);
    text-align: center;
}
.project{
    background-color: rgb(0,0,0,.3);

}
/*neon animation*/
@font-face {
    font-family: "Liberty";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf");
  }
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #1b2431;
    font-size: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  body .text {
    font-family: "Liberty";
    font-weight: 100;
    font-size: 4rem;
    letter-spacing: -0.20em;
    flex-flow: row;
  }
  body .text .letter {
    color: #fcffd9;
    text-shadow: 0 0 2rem #ff7700;
    display: inline-block;
  }
  body .text .letter.letter-2 {
    transform: translate(-0.2rem, 1rem) rotate(10deg);
    -webkit-animation: flicker 2s ease-in-out infinite alternate;
            animation: flicker 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes flicker {
    0% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5.5% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6.5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    7% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    8% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    50% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(13deg);
    }
    100% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
  }
  
  @keyframes flicker {
    0% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    5.5% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    6.5% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    7% {
      opacity: 0;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    8% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
    50% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(13deg);
    }
    100% {
      opacity: 1;
      transform: translate(-0.2rem, 1rem) rotate(10deg);
    }
  }
  .home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  /*Social buttons*/
  .name-social{
    /* background-color: white; */
    width: 500;
    height: 20vh;
    padding-left: 50px;
  }
  .btns{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }
  a{
    text-decoration: none;
    color: rgb(27, 1, 91);
    
  }
  .fa-brands{
    /* padding-top: 25px; */
    font-size: 30px;
    transition: 0.2s ease-out;
  }
  .fa-brands:hover{
    transform: scale(1.3);
  }
/*NAV_BAR*/
.nav-bar{
    background-color: black#ff7700;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding:0px 10px;
}
nav ul li {
    list-style-type: none;
}
nav ul li a{
    font-family: "poppins",sans-serif;
    font-size: 0.9rem;
    color: linen;
    font-weight: bolder;
    padding:1vh 1vh;
}
nav ul li{
    transition: 0.5s ease-out;
}
nav ul li:hover{
    transform: scale(1.3);
    a{
        color: rgb(131, 12, 91);
    }
}
/*skills animation*/
.container_skill
{
  position:relative;
  width:20%;
  display:flex;
  justify-content:space-around;
}
.container_skill .card
{
  position:relative;
  width:250px;
  /* background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b); */
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.container_skill .card:hover
{
  transform:translateY(-10px);
  box-shadow:0 15px 35px rgba(0,0,0,.5);
}
.container_skill .card:before
{
  content:'';
  position:absolute;
  top:0;
  left:-50%;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.03);
  pointer-events:none;
  z-index:1;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  box-shadow: inset 0 0 50px #000;
  background:#222;
  z-index:1000;
}
.percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.card:hover .percent .num h2
{
  color:#fff;
  font-size:60px;
}
.percent .num h2 span
{
  color:#777;
  font-size:24px;
  transition:0.5s;
}
.card:hover .percent .num h2 span
{
  color:#fff;
}
.text
{
  position:relative;
  color:#777;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.card:hover .text
{
  color:#fff;
}
svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}
svg circle:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card_html:nth-child(1) svg circle:nth-child(2) 
{
  stroke-dashoffset:calc(440 - (440 * 55) / 100);
  stroke:#00ff43;
}
.card_css:nth-child(1) svg circle:nth-child(2) 
{
  stroke-dashoffset:calc(440 - (440 * 50) / 100);
  stroke:#00ff43;
}
.card_JS:nth-child(1) svg circle:nth-child(2) 
{
  stroke-dashoffset:calc(440 - (440 * 40) / 100);
  stroke:#00ff43;
}
.card_DSA:nth-child(1) svg circle:nth-child(2) 
{
  stroke-dashoffset:calc(440 - (440 * 40) / 100);
  stroke:#00ff43;
}
.card_cpp:nth-child(1) svg circle:nth-child(2) 
{
  stroke-dashoffset:calc(440 - (440 * 80) / 100);
  stroke:#00ff43;
}
.skills_div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.skills_heading{
    font-family: "poppins",sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    padding-left: 40px;
    padding-top: 30px;
    color: white;
    display: block;

}
.bar_container{
    
    /* padding-left: 10%;
    padding-right: 10%;
    width: 80%; */
    /* background-color: blue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}
.container_skill{
    width: 200px;
}
/*projects section*/
.container_project{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.project_heading{

    font-family: "poppins",sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    padding-left: 40px;
    padding-top: 10%;
    color: white;
    display: block;
    /* background-color: #00ff43; */
}
.projects_main{
    /* background-color: blue; */
    width: 100%;
    /* height: 60vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 2%;

    
}
.p{
    width:350px;
    height: 50vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    /* margin-top: 10%; */
    background:rgba(41, 2, 93, 0.589);
    margin-top: 30px;
   
}
.p_a{
  text-align: center;
}
.p h3:hover{
  /* scale: 110%; */
  font-size: 1.8rem;
}
.p h3{
    font-family: "poppins",sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    background-color: rgb(0,0,0,.3);
    padding-bottom: 10px;
    display: block;
    transition: 0.3s ease-out;
}
.para{
    font-family: "poppins",sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-top: 30px;
    /* padding-left: 40px;
    padding-top: 30px; */
    color: white;
    /* border: 5px solid black; */
    /* display: block; */
}

.project_button{
  border-radius: 10px;
  margin: 8% 7%;
  height: 12%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

@media (max-width:720px){
    .matter{
      flex-direction: column;
      padding-top: 20px;
      justify-content: center;
      align-items: center;
    }
    /* section{
      height: 150vh;
    } */
    .bar_container{
      flex-direction: column;
      margin-top: 0px;
      /* padding-left: 30px; */
      justify-content: center;
      justify-content: center;
      align-items: center;

    }
    .abt-me_div{
      order: 2;
    }
    .my_img{
      order: 1;
      /* margin-top: 50px;
      margin-left: 10px; */
      margin-top: 50px;
      width: 300px;
      height: 300px;
      border-radius: 100%;
    }
    .abt-me{
      margin-top: 0px;
    }
    /* .skills{
      height: 200vh;
    } */
    /* .project{
      height: 180vh;
    } */
    .p{
      /* margin-left: 45px; */
      margin-bottom: 20px;
    }
    .project_heading{
      text-align: center;
    }
    .projects_main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 60px;
    }
}

@media (max-width:1300px){
  .matter{
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .my_img{
    /* margin-top: 50px;
    margin-left: 10px; */
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }
}
@media (max-width:500px){
    .my_img{
      order: 1;
      width: 250px;
      height: 250px;
    }
    .abt-me{
      /* order: 2; */
      padding-right: 0px;
      text-align: center;
    }
    .abt-me_div{
      order: 2;
    }
    .name-social{
      padding-left: 0px;
      justify-content: center;
      align-items: center;
    }
    .letter{
      font-size: 3rem;
      text-align: center;
    }
    .p{
      width: 300px;
    }
    .skills_heading{
      padding-left: 0px;
      text-align: center;
    }
    .project_heading{
      padding-left: 0px;
      text-align: center;
      padding-top: 50px;
    }
    .projects_main{
      margin-top: 20px;
    }
}
